@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&display=swap");

body {
  margin: 0;
  font-family: "Poppins";
  background: #f3efef;
}

ul,
li {
  padding: 0;
  list-style-type: none;
}

.container{
    display: grid;
    grid-template-columns: 1f 3fr 1fr;
    gap: 40px;  
   
}
h1{
  margin: 10px;
}
header {
    grid-column: span 3;
    text-align: center;
  }
  .header > div {

display: flex;
justify-content: center;

  }
   
.main{
   display: grid; 
   grid-template-columns:repeat(21,30px);
   grid-template-rows:repeat(17,30px);
   width: 630px;
   height: 510px;
   border: 2px solid black;
   
}
.box{
    border: 0.5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
 .play{
   width: 60px;
  }

  .main{

    border: 2px solid black; 
  }
  .random{
    display: flex;
    gap: 20px;
  }
  .random >div{
    height: 50px;
    width: 150px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .random1,
.random2 {
  display: flex;
  align-items: center;
  justify-content: center;
}



  .horizontal, .vertical{
    height: 50px;
    width: 150px;
    margin-right: 20px;
  }
  footer{
    grid-column: span 3;
    display: flex;
    justify-content: center;
    gap: 50px;
  }

  .start, .reset{
    height: 50px;
    width: 150px;
    font-size: 17px;
  }
  .hbox{
    padding-right: 20px;
    font-size: 17px;
  }
  #timer{
    animation:pulse 1s infinite;
  }
  @keyframes pulse{
    0%{
      transform: scale(1);
    }
    50%{
      transform: scale(1.1);
      
    }
    100%{
      transform: scale(1);
    }
  }
  #timer.finished{
    color: red;
  }